@import "~font-awesome/css/font-awesome.css";
@import '~@fortawesome/fontawesome-free/css/all.css';
@import "~bootstrap-icons/font/bootstrap-icons.css";

/*SPINNER CUSTOM */
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 40%;
    left: 0px;
    opacity: 0.5;
    filter: alpha(opacity=50);
 }

/* LOGIN */
.z-index-9 {
    z-index: 9 !important;
}

.opacity-1 {
    opacity: 0.1 !important;
}

.fill-white {
    fill: #fff !important;
}

.z-index-9 {
    z-index: 9 !important;
}

.z-index-1 {
    z-index: 1 !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.text-white {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}

.mb-n5 {
    margin-bottom: -3rem !important;
}

.mt-sm-n5 {
    margin-top: -3rem !important;
}

.btn-primary-soft {
    color: #0f6fec !important;
    background-color: rgba(15, 111, 236, 0.1) !important;
}

.btn-primary-soft:hover{
    color: #fff !important;
    background-color: #0f6fec !important;
    border-color: #0f6fec !important;
}

.fakepasswordicon {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

.fakepasswordicon.fa-eye:before {
    content: "\f06e" !important;
  }

.w-40px {
    width: 40px !important;
}

.p-2 {
    padding: 0.5rem !important;
}

.fa-solid, .fas {
    font-weight: 900;
}

.d-grid {
    display: grid !important;
}
/* END LOGIN */

/* HEADER */
main {
    padding-top: calc(1.5rem + 56px);
    margin-bottom: 1.5rem;
}

.icon-md {
    height: 2.5rem;
    width: 2.5rem;
    font-size: 0.9em;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    /* -webkit-box-align: center; */
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.avatar-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
/* END HEADER */